body {
/*	background-color:#D8E9FE;*/
    background-color:#FFF;
	font-family: Rokkitt, 'Times New Roman', serif;
}
#user_session_box{
    color: #444444;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
    min-height: 33px;
    text-align: right;
	margin: 0 -15px 0 -5px;
	box-shadow: 1px 3px 19px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 1px 3px 19px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 3px 19px rgba(0, 0, 0, 0.2) inset;
	}
#user_greetings{
	margin:0 0 0 70%;
	padding:7px; 
	float:left;/*float could be causing the problem of overlaping bar on tablet*/
	font-size:10pt;	
	}
	
.logout_button {
	width: auto;
	height: auto;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10pt;
	font-weight: bolder;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: right;/*float could be causing the problem of overlaping bar on tablet*/
	margin: 4px 15px;
	border: 1px solid #B5B5B5;
	text-align: center;
	padding: 1px 5px 4px 5px;
	background-image:url(../../images/graybar.png);
	cursor: default;
}
.logout_button:hover {
	opacity: 0.7;
}
#header {
	border: solid 5px #E9E9E9;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width: 525px;
    height: 170px;
	margin: 3% auto 0% auto;
	background: url("../../images/cesar_chavez.png") no-repeat scroll center center transparent;
}
/*This header works with mobile but doesn't look so good with desktop/tablet*/
/*#header {
    background: url("../../images/cesar_chavez.png") no-repeat scroll center center transparent;
    border: thin solid #DDDDDD;
    height: 170px;
    margin: 3% 8%;
    padding: 10px;
    text-align: center;
}*/
input.rounded_login {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 2px 10px #CCC inset;
	-webkit-box-shadow: 0px 2px 10px #CCC inset;
	box-shadow: 0px 2px 10px #CCC inset;
	font-size: 20px;
	padding: 4px 8px 4px 8px;
	outline: 0;
	-webkit-appearance: none;
	width: 260px;
	text-align: center;
}
input.rounded_login:focus {
	border-color: #deb408;
}
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 2px 10px #CCC inset;
	-webkit-box-shadow: 0px 2px 10px #CCC inset;
	box-shadow: 0px 2px 10px #CCC inset;
	font-size: 20px;
	padding: 4px 8px 4px 8px;
	outline: 0;
	-webkit-appearance: none;
	width: 260px;
/*	text-align: center; This doesnt look good on desktop version*/ 
}
input.rounded:focus {
	border-color: #deb408;
}
.blue_button {
	width: 130px;
	height: auto;
	padding: 6px;
	margin: 0% auto 0% auto;
	background-image:url(../../images/bluebar5.png);
	color: #FFF;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14pt;
	font-weight: bolder;
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: default;
	}
.blue_button:hover {
	opacity: 0.7;
}
/*#signinbutton {
	width: 130px;
	height: auto;
	padding: 8px;
	margin: 0% auto 20% auto;
	background-image:url(../../images/bluebar5.png);
	color: #FFF;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14pt;
	font-weight: bolder;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: default;
	}*/
#message_box {
	font-size: 14px;
	width: 260px;
	height: auto;
	text-align: center;
	margin: -15px auto 10px auto;
	color: #F00;
	}
#message_green {
	font-size: 14px;
	width: 260px;
	height: auto;
	text-align: center;
	margin: -15px auto 10px auto;
	color: #060;
	}
#subscribe_box {
    font-size: 14pt;
    margin: 3% 0;
}
/* Start Footer */

footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}
footer nav {
	margin: 18px 0;
	padding-top: 10px;/*	border-top: 4px solid #000;*/
}
footer li {
	display: inline;
	border-right: 1px dotted;
}
footer li:last-child {
	border: none;
}
footer li a {
	color: #af2411;
	padding: 0 10px;
}
footer nav li a:hover {
	color: #FFF;
	background-color:#666;
}
/* End Footer */
/* Start Pages */

#pages {
	width: auto;
	margin: 0 auto;
	margin-top: 30px;
}
.handheld, #tabs {
	display: none;
}
.sectionlist {
	width: auto;
	margin: 0 auto;
	text-align:center;
	height: auto;
/*	background-color: #FFF;*/
}
/*.sectionlist img {
	width: 80px;
	height: 80px;
	border: 4px solid #FFF;
	position: relative;
	float: none;
	-webkit-box-shadow:0 5px 10px #000;
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}*/
.sectionlist img {
	position: relative;
	float: none;
}
.sectionlist svg {
 width:;
	border: 4px solid #FFF;
	margin-right: auto;
	margin-left: auto;
	float: none;
	-webkit-box-shadow:0 5px 10px #000;
	-moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);
}
.sectionlist h2 {
	font: normal 2.5em/2.5em 'Rokkitt', Helvetica, Arial, sans-serif;
	color: #407dae;
	display: block;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.sectionlist p {
	padding: 5px 0 10px 0;
	font: bold 1.5em/1.5em Rokkitt, 'Times New Roman', serif;
	font-weight: bold;
	font-style: italic;
	color: #000;
	font-size: 12pt;
}
.sectionlist li {
	padding: 10px;
}
.sectionlist li:hover {
	cursor: pointer;
}
.sectionlist li:hover img {
	padding-left: 1px;
}
.sectionlist .info {
	width: 200px;
	float:left;
}
.sectionlist .info .photoname {
	font: normal 1.3em/1em 'Luckiest Guy', Helvetica, Arial, sans-serif;
	color: #674;
	display: block;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	padding-left: 10px;
}
.sectionlist .info .description {
	display: block;
	padding-left: 10px;
	font-size: 1.1em;
	line-height: 1em;
}
.sectionlist .info .price {
	font: normal 1.2em/1.3em 'Luckiest Guy', Helvetica, Arial, sans-serif;
	color: #A21;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	display: block;
	padding: 5px 0 10px 10px;
}
.sectionlist li:hover .photoname {
	color: #A21;
}

/*select.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 2px 3px #666;
	-webkit-box-shadow: 0px 2px 3px #666;
	box-shadow: 0px 2px 3px #666;
	font-size: 20px;
	padding: 4px 4px;
	outline: 0;
	-webkit-appearance: none;
	width: 260px;
	background-color: # F2F2F2;
}*/
select.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 10px 8px #FFF inset;
	-webkit-box-shadow: 0px 10px 8px #FFF inset;
	box-shadow: 0px 10px 8px #FFF inset;
	font-size: 20px;
	padding: 4px 8px 4px 8px;
	outline: 0;
	-webkit-appearance: none;
	width: 276px;
	height: 34px;
	background-color: #F2F2F2;
}
select.rounded:focus {
	border-color: #deb408;
}
.hide {
	display: none;
}
/*version of spinner with not so great bg.
/*.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
/*	margin-top: -50px; /* half height of the spinner gif */
/*	text-align:center;
/*	z-index:1234;
/*	overflow: auto;
/*	width: 100px; /* width of the spinner gif */
/*	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
/*}*/
.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -60px; /* half width of spinner div */
	margin-top: -60px; /* half height of spinner div */
	text-align:center;
	vertical-align: middle;	
	z-index:1234;
	overflow: auto;
	width: 120px; /* width of the spinner gif */
	height: 110px; /*hight of the spinner gif +2px to fix IE8 issue */
	padding-top: 10px;
	background-color: #000;/*this gives a nice rounded bg*/
	-moz-border-radius: 15px;/*this gives a nice rounded bg*/
	-webkit-border-radius: 15px;/*this gives a nice rounded bg*/
	border-radius: 15px;/*this gives a nice rounded bg*/
}
/*Styles for tooltip*/
.ui-tooltip, .arrow:after {
	background: black;
	border: 2px solid white;
}
.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
/*Overlay Code*/

.bgCover {
	background:#000;
	position:absolute;
	left:0;
	top:0;
	display:none;
	overflow:visible;
	z-index:900;
}
/*#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }*/

.overlayContent {
	padding:10px;
}
.closeLink {
	float:right;
	color:red;
}
#chart_div {
	margin: 0px auto 0px auto;
	width: 300px;
}
#table_div {
	margin: 10px auto 0px auto;
	width: 500px;
}
#info_div {
	margin: -20px auto 20px auto;
	width: 490px;
	color: #666;
	text-align: left;
	line-height: 25px;
}

.event_box {
	padding: 15px;
	width: 290px;
	margin: 0 auto 15px auto;
	background-color: #F8F8F8;
	margin-bottom: 15px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}