.hide {
	display: none;
}

header, #pages, body, footer {
	width: 100%;
	margin: 0;
	/*overflow: hidden;*/
}

/* Hide Elements that area not necessary */
#topnav, .sectionlist h2, .sectionlist p, header p, footer p, .hide {
	display: none;
}

/* Show hidden elements */
#pages nav#tabs, .handheld {
	display: block;
}

header nav, footer nav {
	margin: 0;
	padding-bottom: 0;
	border: none;
}

header img {
	width:300px;
}

#overlay img {
	position:absolute;
	top:0;
	left:0;
}

#overlay .info {
	display:none;
}



/* End Footer */

.sectionlist {
	width: 100%;
	padding-bottom: 60px;
	margin-top: 20px;
	padding-left: 25px;
	position:absolute;
	left:0;
	top:180px;
	/*float: left;*/
	margin: 0 auto;
}

.sectionlist .info {
	width: 70%;
}

.sectionlist img {
	max-width: 30%;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	display: block;
	margin-right:0;
	float: left;
}

.sectionlist li {
	border-top: 1px solid #EB8;
	border-bottom: 1px solid #A63;
	padding: 10px 5px;
}

.sectionlist .info .price {
	padding: 5px 0 0 10px;
	
}


.sectionlist li:first-child {
	border-top: none;
}

.sectionlist li:last-child {
	border-bottom: none;
}

#appetizers,#sides,#entrees {
	-webkit-transform:rotate(0);   
	-moz-transform:rotate(0);  
	-ms-transform:rotate(0);  
	-o-transform:rotate(0);
	transform:rotate(0);
}
/* Start Tabs Control */

/*#pages nav#tabs ul {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;  
	float: left;
	left:50% ;
}

#pages nav#tabs li {
	float: left;
	background: #fe9;
	height: 30px;
	padding: 10px 15px 0 15px;
	border: 1px inset #666;

	background: #ffee99; 
	background: -moz-linear-gradient(top, #ffee99 0%, #bb8800 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffee99), color-stop(100%,#bb8800)); 
	background: -webkit-linear-gradient(top, #ffee99 0%,#bb8800 100%); 
	background: -o-linear-gradient(top, #ffee99 0%,#bb8800 100%); 
	background: -ms-linear-gradient(top, #ffee99 0%,#bb8800 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee99', endColorstr='#bb8800',GradientType=0 ); 
	background: linear-gradient(top, #ffee99 0%,#bb8800 100%); 

	-webkit-box-shadow: 2px 2px 2px #666; 
	-moz-box-shadow: 2px 2px 2px #666; 
	box-shadow: 2px 2px 2px #666;

	font: bold 13pt/16px Helvetica, Arial, sans-serif;
	color: #020000;
	text-shadow: 1px 1px 1px #FFF;
	position: relative; 
	right:50% ;
}	

#pages nav#tabs li.tapped {
	background: #900;
	background: -webkit-gradient(linear,
		left top,
		left bottom,
		from(#F00),
		to(#400)
		);

	-webkit-box-shadow: inset 2px 2px 2px #A00; 
	-moz-box-shadow: inset 2px 2px 2px #A00; 
	box-shadow: inset 2px 2px 2px #A00; 
	color: #FFF;
	text-shadow: none;
}

#pages nav#tabs li:first-child,
#pages nav#tabs li:first-child a:hover {
	-webkit-border-radius: 10px 0 0 10px; 
	-moz-border-radius: 10px 0 0 10px; 
	border-radius: 10px 0 0 10px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

#pages nav#tabs li:last-child,
nav#tabs li:last-child a:hover {
	-webkit-border-radius: 0 10px 10px 0; 
	-moz-border-radius: 0 10px 10px 0; 
	border-radius: 0 10px 10px 0; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}*/
/* End Tabs Control */