/*@import url("./handheld.css");*/

body {
/*this bg looks great on hight density devices.. */
/*	background-image: url(../../images/whitebg.jpg);
	background-repeat: repeat;*/
/*	background-color:#F3F3F3;*/
	background-color:#f2f2f2;
	width: auto;
	overflow: hidden !important; /*this prevents the ipad from scaling the page;*/
}
	
#user_session_box {
	width: 100%;
	min-height: 40px;
	text-align: center;
	padding-right: 10%;
	color: #FFF;
	font-size:16pt;
	font-weight: bolder;
	background-image:url(../../images/bluebar4.png);
	background-repeat: repeat-x;
	position: fixed !important;/*keeps the bar in top of the screen at all times*/
	top: 0px !important;
	left: 0px;
	margin: 0px;/*Overwrites desktop margin*/
	box-shadow: none;/*overwrites shadow on desktop version*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	}
#user_greetings{
	margin:0 0 0 45%; /*Centers greetings in the bar*/
    padding: 5px;/*Centers gretings vertically*/
	font-size:16pt;	
	}
.logout_button {
	font-size: 14pt;/*prevents font from looking to small in ipad*/
/*	align: right;*/
	padding: 0px 5px 2px 5px;
	margin: 6px 10px;
	border: 1px solid #0C6DB6;
	background-image:url(../../images/bluebar_button.png);
}
#header {
	margin: 8% auto 0 auto; /*prevents header from conflicting with user bar*/
	}
.blue_button {
	width: 278px;
	font-size: 18pt;
	background-image:url(../../images/bluebar6.png);
}
#subscribe_box {
    font-size: 16pt;/*overwrites font size on desktop CSS*/
}
.sectionlist {
	background-color: #FFF;
	padding-bottom: 5%;
}





